<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>5G | 404 </title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Coming Soon -->
    <section class="coming-soon" style="background-image:url(images/background/404.gif); background-size: cover;">
        <div class="anim-icons">
            <span class="icon icon-ring"></span>
            <span class="icon icon-dot-1"></span>
        </div>
        <div class="auto-container">
            <div class="content">
                <div class="content-inner">
                    <div class="logo"><a href="/index"><img src="images/logo.png" alt="" /></a></div>
                    <div class="row">
                        <div class="content-column col-lg-9 col-md-12 col-sm-12">
                            <div class="inner-column">

                              <div class="sec-title styled">
                                <h2 style="color: white;"> Page Not Found </h2>
                                <br><br>
                                <h2></h2>
                              </div>


                                <div class="social-links">
                                    <ul class="social-icon-four">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.paroller.min.js"></script>
<script src="js/countdown.js"></script>
<script src="js/wow.js"></script>
<script src="js/validate.js"></script>
<script src="js/script.js"></script>
</body>
</html>