{{>header}}

<section class="page-title" style="background-image: url(images/background/5.jpg);">
    	<div class="anim-icons">
    		<span class="icon icon-dots-1"></span>
    		<span class="icon icon-dot-1"></span>
    		<span class="icon icon-dot-2"></span>
    	</div>
    	<div class="auto-container">
    		<h1>Adro is a united state <br>Digital agency</h1>
    	</div>
    </section>
    <!--End Page Title -->

    <!-- Work Section -->
	<section class="work-section style-two">
		<div class="large-container">
			<div class="row">
				<!-- Content Column -->
				<div class="content-column order-2 col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title">
							<span class="title">Our Work</span>
							<h2>Although we have plenty of expertise and insight thatjust doesn’t make </h2>
							<div class="text">Although we have plenty of expertise and insight, that just doesn’t make the cut these days. To lift our offering to the next level and challenge the status quo, we inject creativity and vision into all we do, treading across new and exciting terrain.</div>
						</div>
						<span class="devider"></span>
						<div class="sec-title">
							<span class="title">Our Values</span>
							<h2>Digital projects can be complicated We combat the complexities </h2>
							<div class="text">Digital projects can be complicated. We combat the complexities by putting cross-functional teams - with experts in design, development, strategy, and UX - on the job. Each well-oiled team collaborates and communicates throughout.</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Work Section -->

	<!-- History Section -->
	<section class="history-section">
		<div class="anim-icons">
			<span class="icon icon-dots-2"></span>
			<span class="icon icon-dot-3"></span>
			<span class="icon icon-dot-4"></span>
			<span class="icon icon-circle-1"></span>
		</div>
		<div class="large-container">
			<div class="row">
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column clearfix">
						<figure class="image"><img src="images/resource/image-1.jpg" alt=""></figure>
					</div>
				</div>

				<div class="history-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- History Block -->
						<div class="history-block wow fadeInUp">
							<div class="inner-box count-box">
								<div class="count"><span class="count-text" data-speed="5000" data-stop="25">0</span>K</div>
								<h5 class="title">Project Done </h5>
								<div class="text">Sed ut perspiciatis unde omnis iste natus error sitvolu ptatem accusantium laudan tium totam rem aperiam eaquem.</div>
							</div>
						</div>

						<!-- History Block -->
						<div class="history-block wow fadeInUp">
							<div class="inner-box count-box">
								<div class="count"><span class="count-text" data-speed="5000" data-stop="11">0</span></div>
								<h5 class="title">Years of Experiences</h5>
								<div class="text">Sed ut perspiciatis unde omnis iste natus error sitvolu ptatem accusantium laudan tium totam rem aperiam eaquem.</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fun-facts">
				<ul>
					<li class="count-box">
						<div class="count"><span class="count-text" data-speed="5000" data-stop="12">2</span>K+</div> DAILY STANDUPS
					</li>
					<li class="count-box">
						<div class="count"><span class="count-text" data-speed="5000" data-stop="1">0</span>M+</div> COMMITS
					</li>
					<li class="count-box">
						<div class="count"><span class="count-text" data-speed="5000" data-stop="10">0</span>K+</div> USER STORIES
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--End History Section -->

	<!-- Team Section -->
	<section class="team-section">
		<div class="large-container">
			<div class="sec-title text-center">
				<h2>Meet Our Team</h2>
				<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua.</div>
			</div>

			<div class="row">
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="images/resource/team-1.jpg" alt=""></figure>
							<ul class="social-links">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
							<span class="icon icon-code"></span>
						</div>

						<div class="info-box">
							<h5 class="name"><a href="#">Sopnil Andro</a></h5>
							<span class="designation">Ui Expert</span>
						</div>
					</div>
				</div>

				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="images/resource/team-2.jpg" alt=""></figure>
							<ul class="social-links">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
							<span class="icon icon-code"></span>
						</div>

						<div class="info-box">
							<h5 class="name"><a href="#">Tamim An</a></h5>
							<span class="designation">Direct Marketing</span>
						</div>
					</div>
				</div>

				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="images/resource/team-3.jpg" alt=""></figure>
							<ul class="social-links">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
							<span class="icon icon-code"></span>
						</div>

						<div class="info-box">
							<h5 class="name"><a href="#">Mahfuz RIad</a></h5>
							<span class="designation">Marketing</span>
						</div>
					</div>
				</div>

				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="images/resource/team-4.jpg" alt=""></figure>
							<ul class="social-links">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
							<span class="icon icon-code"></span>
						</div>

						<div class="info-box">
							<h5 class="name"><a href="#">Alex Ton</a></h5>
							<span class="designation">Finance Advice</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Team Section -->

	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="large-container">
			<div class="sec-title">
				<span class="title">Testimonial</span>
				<h2>What Our core client say ?</h2>
			</div>

			<div class="testimonial-carousel owl-carousel owl-theme">
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Why is this important? Because clients want to know the businesses they depend on for advice, are well managed in their own right.  Not only that but this event gives you the chance to give your back-office team</div>
						<div class="info-box">
							<div class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></div>
							<h4 class="name">Mahfuz Riad</h4>
							<span class="designation">Ui Designer & CEO</span>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Why is this important? Because clients want to know the businesses they depend on for advice, are well managed in their own right.  Not only that but this event gives you the chance to give your back-office team</div>
						<div class="info-box">
							<div class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></div>
							<h4 class="name">Mahfuz Riad</h4>
							<span class="designation">Ui Designer & CEO</span>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Why is this important? Because clients want to know the businesses they depend on for advice, are well managed in their own right.  Not only that but this event gives you the chance to give your back-office team</div>
						<div class="info-box">
							<div class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></div>
							<h4 class="name">Mahfuz Riad</h4>
							<span class="designation">Ui Designer & CEO</span>
						</div>
					</div>
				</div>
			</div>

			<div class="thumb-layer paroller">
				<figure class="image"><img src="images/resource/user-thumbs.png" alt=""></figure>
			</div>
		</div>
	</section>
	<!--End Testimonial Section -->

	<!-- Video Section -->
	<section class="video-section style-two alternate-2">
		<div class="large-container">
			<div class="outer-box">
				<div class="anim-icons">
					<span class="icon icon-dot-3"></span>
					<span class="icon icon-dot-4"></span>
					<span class="icon icon-circle-1"></span>
				</div>
				<div class="auto-container">
					<div class="upper-box clearfix">
						<div class="content-box">
							<h4>We are Adro Business Agency, so it might<br> be about minions and stuff</h4>
							<div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</div>
						</div>

						<div class="btn-box">
							<a href="/contact" class="theme-btn btn-style-three">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Video Section -->

{{>footer}}