{{>header}}

<!-- Page Title -->
    <section class="page-title" style="background-image: url(images/background/5.jpg);">
    	<div class="anim-icons">
    		<span class="icon icon-dots-1"></span>
    		<span class="icon icon-dot-1"></span>
    		<span class="icon icon-dot-2"></span>
    	</div>
    	<div class="auto-container">
    		<h1>Contact us</h1>
    	</div>
    </section>
    <!--End Page Title -->

    <!-- Contact Section -->
    <section class="contact-section">
        <div class="anim-icons">
            <span class="icon icon-cloud-5"></span>
            <span class="icon icon-dot-1"></span>
            <span class="icon icon-dot-2"></span>
        </div>
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Send Us A Message</h2>
            </div>

            <div class="outer-box row justify-content-end">
                <!-- Form Column -->
                <div class="form-column col-xl-7 col-lg-12 col-md-12 col-sm-12 wow fadeInLeft">
                    <div class="inner-column">
                        <div class="contact-form">
                            <form method="post" action="#" id="contact-form">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="username" placeholder="Full Name" required="">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="Email" required="">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="phone" placeholder="Phone" required="">
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Your Message"></textarea>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group text-center">
                                        <button class="theme-btn btn-style-three" type="submit" name="submit-form">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Contact Section -->

    <!-- Contact Info Section -->
    <section class="contact-info-section">
        <div class="auto-container">
            <div class="row">

                <!-- Other Info -->
                <div class="other-info col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row">
                            <!-- Contact Info -->
                            <div class="contact-info col-lg-6 col-md-6 col-sm-12">
                                <div class="inner">
                                    <h4>Help and Support</h4>
                                    <div class="text">We’re here to help with any questions or code.</div>
                                    <div class="link-box"><a href="#"><i class="fa fa-arrow-right"></i></a></div>
                                </div>
                            </div>

                            <!-- Contact Info -->
                            <div class="contact-info col-lg-6 col-md-6 col-sm-12">
                                <div class="inner">
                                    <h4>General communication</h4>
                                    <div class="text">For general queries,please email <a href="#">info@adro.com</a></div>
                                    <div class="link-box"><a href="#"><i class="fa fa-arrow-right"></i></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="social-links">
                            <ul class="social-icon-three">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Info Section -->

    <!-- Call to Action Two-->
    <section class="call-to-action-two">
        <div class="auto-container">
            <div class="outer-box wow fadeInUp">
                <div class="row">
                    <div class="content-column col-lg-8 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3>We are creatives, so it might be about <br>minions and stuff</h3>
                            <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
                        </div>
                    </div>

                    <div class="btn-column col-lg-4 col-md-12 col-sm-12">
                        <a href="#" class="theme-btn btn-style-three">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call to Action -->


{{>footer}}