{{>header}}


<!-- Page Title -->
    <section class="page-title" style="background-image: url(images/background/5.jpg);">
    	<div class="anim-icons">
    		<span class="icon icon-dots-1"></span>
    		<span class="icon icon-dot-1"></span>
    		<span class="icon icon-dot-2"></span>
    	</div>
    	<div class="auto-container">
    		<h1>Creative agency <br>Explore creative Team</h1>
    	</div>
    </section>
    <!--End Page Title -->

    <!-- FAQ Section -->
    <section class="faq-section">
        <div class="anim-icons">
            <span class="icon icon-dot-1"></span>
            <span class="icon icon-dot-2"></span>
            <span class="icon icon-dot-5"></span>
            <span class="icon icon-cloud-5"></span>
        </div>
    	<div class="auto-container">
    		<div class="row">
    			<div class="column col-lg-6 col-md-12 col-sm-12">
    				<div class="inner-column">
    					<ul class="accordion-box">
                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active">What does SEO stand for?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">Creative App Display<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">How quickly will I receive my printed items?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">How quickly will I receive my printed items?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">What is an average timeframe for projects?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">Is there a deposit for projects?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">Do we require monthly or yearly contracts?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
    				</div>
    			</div>

    			<div class="column col-lg-6 col-md-12 col-sm-12">
    				<div class="inner-column">
    					<ul class="accordion-box">
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">What do our packages cost?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">What happens after a website goes live?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">Do we travel for projects?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">What platform do we use for our websites?<div class="icon flaticon-add"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">All Adro plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.Ves tibulum sed per ultrices mi morbi etamus. Ei erant pha edrum vis. Eut alii auta ea, tek sit timeam.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <!--End FAQ Section -->



{{>footer}}