{{>header}}

<!--Banner Section-->
<section class="banner-section" style="background-image:url(images/background/1.png)">
	<div class="auto-container">
		<div class="content">
			<h2>
				Welcome to akrika
			</h2>
			<div class="text">A team of experienced developers and designers, ready <br> to help you build your web and
				mobile applications.</div>
		</div>
		<div class="image-box">
			<figure class="image paroller">
				<img src="images/resource/user.png" alt="">
			</figure>
		</div>
	</div>
</section>
<!--End Banner Section-->


<!-- Different application Sectioin -->
<section class="pricing-section" style="padding: 60px 0 60px;">
	<div class="large-container">
		<div class="inner-container row">
			<div class="pricing-block col-md-4 col-sm-12">
				<div class="inner-box" style="padding-left: 30px;">
					<img src="images/icons/html-icon.png"
						style="margin-right: auto; margin-left: auto; margin-bottom: 20px; display: block">
					<div class="text text-center">Web Development</div>
				</div>
			</div>

			<div class="pricing-block premium col-md-4 col-sm-12 wow fadeInUp">
				<div class="inner-box" style="padding-left: 30px;">
					<img src="images/icons/phone_icon.png"
						style="margin-right: auto; margin-left: auto; margin-bottom: 20px; display: block">
					<div class="text text-center">
						Mobile Development
						<br>
						(Hybrid Apps)
					</div>
				</div>
			</div>

			<div class="pricing-block team col-md-4 col-sm-12 wow fadeInUp">
				<div class="inner-box" style="padding-left: 30px;">
					<img src="images/icons/html-icon.png"
						style="margin-right: auto; margin-left: auto; margin-bottom: 20px; display: block">
					<div class="text text-center">Design</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Differentapplication Section -->


<!-- Pricing Sectioin -->
<section class="pricing-section" style="padding: 60px 0 60px;">
	<div class="large-container">
		<div class="inner-container row">
			<div class="sec-title styled col-md-6 text-right">
				<h2 style="padding-right: 10px;">
					We mix a perfect blend with creative
					designs and interactive technology to
					delight our customers
				</h2>
			</div>
			<!--Pricing Tabs-->
			<div class="pricing-tabs tabs-box clearfix col-md-6 text-left">
				<br>
				<p style="padding-left: 10px;">
					We work with our customers right from getting the requirements,
					translating them into designs and technology.
					We employ a comprehensive workflow process
					to deliver the optima products and services to our clients.
					Our services cover business sites, marketing sites,
					personal sites and international sites
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End Pricing Section -->

<!-- Services Section -->
<section class="services-section" style="padding-bottom: 0px;">
	<div class="auto-container">
		<div class="row">
			<div class="content-column col-xs-12">
				<div class="inner-column" style="margin-left: unset;">
					<div class="title-box">
						<span class="icon far fa-gem"></span>
						<p>Services & Expertise</p>
					</div>

					<div class="row" style="margin: unset;">
						<!-- Service Block -->
						<div class="service-block col-md-3 col-xs-6 ">
							<div class="inner-box">
								<div class="icon-box"><span class="fa fa-cubes"></span></div>
								<h4><a href="#">Years of Experience</a></h4>
								<div class="text">
									<img src="images/icons/baseline_filter_9_plus.png">
								</div>
							</div>
						</div>

						<!-- Service Block -->
						<div class="service-block col-md-3 col-xs-6 ">
							<div class="inner-box">
								<div class="icon-box"><span class="fa fa-donate"></span></div>
								<h4><a href="#">Projects</a></h4>
								<div class="text">
									<img src="images/icons/baseline_filter_6.png">
								</div>
							</div>
						</div>

						<!-- Service Block -->
						<div class="service-block col-md-3 col-xs-6 ">
							<div class="inner-box">
								<div class="icon-box"><span class="fa fa-globe"></span></div>
								<h4><a href="/services-2">Specialists</a></h4>
								<div class="text">
									<img src="images/icons/baseline_filter_5.png">
								</div>
							</div>
						</div>

						<!-- Service Block -->
						<div class="service-block col-md-3 col-xs-6">
							<div class="inner-box">
								<div class="icon-box"><span class="fa fa-piggy-bank"></span></div>
								<h4><a href="/services-2">Case Studies</a></h4>
								<div class="text">
									<img src="images/icons/baseline_filter_5.png">
								</div>
							</div>
						</div>
					</div>

					{{!-- <div class="row">
							<img src="images/icons/icons8-mongodb.png" style="margin-left: 22px;" alt="mongo icon">
							<img src="images/icons/icons8-amazon-web-services.png" style="margin-left: 22px;" alt="mongo icon">
							<img src="images/icons/icons8-nodejs.png" style="margin-left: 22px;" alt="mongo icon">
							<img src="images/icons/icons8-android-os.png" style="margin-left: 22px;" alt="mongo icon">
							<img src="images/icons/icons8-php-logo.png" style="margin-left: 22px;" alt="mongo icon">
							<img src="images/icons/icons8-angularjs-filled.png" style="margin-left: 22px;" alt="mongo icon">
							<img src="images/icons/icons8-bootstrap.png" style="margin-left: 22px;" alt="mongo icon">
							<img src="images/icons/icons8-mysql-logo-filled.png" style="margin-left: 22px;" alt="mongo icon">
							<img src="images/icons/icons8-jquery-filled.png" style="margin-left: 22px;" alt="mongo icon">
						</div> --}}
					{{!--
						<div class="btn-box">
							<a href="/services-2" class="theme-btn btn-style-one">See All Services</a>
						</div> --}}
				</div>
			</div>
			{{!--
				<div class="image-column col-xl-4 col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column paroller">
						<figure class="image"><img src="images/resource/graph.png" alt=""></figure>
					</div>
				</div> --}}
		</div>
	</div>
</section>
<!--End Services Section -->

<!-- Projects Section -->
<section class="projects-section">
	<div class="large-container">
		<div class="projects-tabs tabs-box">
			<div class="row">
				<!-- Content Column -->
				<div class="content-column col-xl-5 col-lg-6 col-md-12">
					<div class="inner-column">
						<div class="sec-title styled">
							<h2>Featured Projects</h2>
						</div>
						<div class="text">Every product must make a statement and we’re ready to create it with holistic
							approach to design. We believe that payments is a problem rooted in code, not finance. We
							obsessively seek out elegant, </div>
						<ul class="list-style-two">
							<li>Creating new offerings that generate <br>value for businesses</li>
							<li>We work in partnership with our clients</li>
						</ul>
					</div>
				</div>

				<!-- Projects -->
				<div class="projects-column col-xl-7 col-lg-7 col-md-12">
					<div class="inner-column">
						<div class="row">
							<!-- Project Block -->
							<div class="project-block masonry-item width-40">
								<div class="inner-box">
									<a href="https://barfworld.org">
									<div class="image-box">
										<div class="image"
											style="background-color: #1a222c; background-image: url('images/gallery/BlackAfrican.png')">
										</div>
										{{!-- <div class="icon-box"><a href="https://barfworld.org/" class="icon"><i
													class="fa fa-arrow-right"></i></a></div> --}}

										<div class="description">
											<p>
												NGO <br>
												Website Design & Development
											</p>
										</div>
									</div>
									</a>
								</div>
							</div>

							<!-- Project Block -->
							<div class="project-block masonry-item width-60">
								<div class="inner-box">
									<a href="https://electionverification.org/">
									<div class="image-box">
										<div class="image"
											style="background-color: #fbfbfb; background-image: url('images/gallery/EVN.jpg')">
										</div>
										{{!-- <div class="icon-box"><a href="#" class="icon"><i class="fa fa-arrow-right"></i></a></div> --}}
										<div class="description">
											<p>
												NGO <br>
												Website Design & Development
											</p>
										</div>
									</div>
									</a>
								</div>
							</div>

							<!-- Project Block -->
							<div class="project-block masonry-item width-60">
								<div class="inner-box">
									<a href="https://flatsglobalservices.com">
									<div class="image-box">
										<div class="image"
											style="background-color: #f7f7f9; background-image: url('images/gallery/Flats.PNG')">
										</div>
										{{!-- <div class="icon-box"><a href="#" class="icon"><i class="fa fa-arrow-right"></i></a></div> --}}
										<div class="description">
											<p>
												Logistics Company <br>
												Website Design & Development
											</p>
										</div>
									</div>
									</a>
								</div>
							</div>

							<!-- Project Block -->
							<div class="project-block masonry-item width-40">
								<div class="inner-box">
									<a href="https://hellocare.ng">
									<div class="image-box">
										<div class="image"
											style="background-color: #005dfe; background-image: url('images/gallery/helloe_care.PNG');">
										</div>
										{{!-- <div class="icon-box"><a href="#" class="icon"><i class="fa fa-arrow-right"></i></a></div> --}}
										<div class="description">
											<p>
												Healthcare <br>
												Website Design & Development
											</p>
										</div>
									</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Projects Section -->

<!-- Contact Section -->
<section class="contact-section" style="padding: 0px;">
	<div class="anim-icons">
		<span class="icon icon-cloud-5"></span>
		<span class="icon icon-dot-1"></span>
		<span class="icon icon-dot-2"></span>
	</div>
	<div class="auto-container">
		<div class="outer-box row justify-content-end">
			<!-- Form Column -->
			<div class="form-column  wow fadeInLeft">
				<div class="inner-column" style="padding-top: 45px;">
					<div class="sec-title text-center">
						<h2>Send Us A Message</h2>
						<br>
						<h4>
							We help bring ideas to life. What can we do for you?
						</h4>
					</div>
					<div class="contact-form">
						<form method="post" action="#" id="contact-form">
							<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<input type="text" name="username" placeholder="Full Name" required="">
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<input type="email" name="email" placeholder="Email" required="">
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<input type="text" name="phone" placeholder="Phone" required="">
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<textarea name="message" placeholder="Your Message"></textarea>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 form-group text-center">
									<button class="theme-btn btn-style-three" type="submit"
										name="submit-form">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Contact Section -->
{{>footer}}