{{>header}}


<!-- Page Title -->
    <section class="page-title" style="background-image: url(images/background/5.jpg);">
    	<div class="anim-icons">
    		<span class="icon icon-dots-1"></span>
    		<span class="icon icon-dot-1"></span>
    		<span class="icon icon-dot-2"></span>
    	</div>
    	<div class="auto-container">
    		<h1>Business agency <br>Awesome Portfolio</h1>
    	</div>
    </section>
    <!--End Page Title -->

    <!-- Portfolio Section -->
    <section class="portfolio-section">
    	<div class="anim-icons">
    		<span class="icon icon-cloud-5"></span>
    		<span class="icon icon-cloud-5"></span>
    	</div>
    	<div class="large-container">
    		<div class="sec-title text-center">
    			<h2>Success Stories See How We <br>Helped Our Clients </h2>
    		</div>

    		<!--MixitUp Galery-->
            <div class="mixitup-gallery">
                <div class="filters">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter="all">All</li>
                        <li class="filter" data-role="button" data-filter=".agency">Agency</li>
                        <li class="filter" data-role="button" data-filter=".corporate">Corporate</li>
                        <li class="filter" data-role="button" data-filter=".behance">Behance</li>
                        <li class="filter" data-role="button" data-filter=".website">Website</li>
                        <li class="filter" data-role="button" data-filter=".design">Design</li>
                    </ul>
                </div>

	    		<div class="filter-list row no-gutters">
	    			<!-- Portfolio item -->
	                <div class="portfolio-item mix all corporate design website col-lg-4 col-md-6 col-sm-12">
	                    <div class="inner-box">
	                        <div class="image-box">
	                        	<figure class="image"><img src="images/gallery/2-1.jpg" alt=""></figure>
	                        	<div class="icon-box"><a href="/" class="icon"><i class="fa fa-arrow-right"></i></a></div>
	                        </div>
	                    </div>
	                </div>

	                <!-- Portfolio item -->
	                <div class="portfolio-item mix all agency design behance col-lg-4 col-md-6 col-sm-12">
	                    <div class="inner-box">
	                        <div class="image-box">
	                        	<figure class="image"><img src="images/gallery/2-2.jpg" alt=""></figure>
	                        	<div class="icon-box"><a href="/" class="icon"><i class="fa fa-arrow-right"></i></a></div>
	                        </div>
	                    </div>
	                </div>

	                <!-- Portfolio item -->
	                <div class="portfolio-item mix all corporate behance website col-lg-4 col-md-6 col-sm-12">
	                    <div class="inner-box">
	                        <div class="image-box">
	                        	<figure class="image"><img src="images/gallery/2-3.jpg" alt=""></figure>
	                        	<div class="icon-box"><a href="/" class="icon"><i class="fa fa-arrow-right"></i></a></div>
	                        </div>
	                    </div>
	                </div>

	                <!-- Portfolio item -->
	                <div class="portfolio-item mix all corporate design agency col-lg-4 col-md-6 col-sm-12">
	                    <div class="inner-box">
	                        <div class="image-box">
	                        	<figure class="image"><img src="images/gallery/2-4.jpg" alt=""></figure>
	                        	<div class="icon-box"><a href="/" class="icon"><i class="fa fa-arrow-right"></i></a></div>
	                        </div>
	                    </div>
	                </div>

	                <!-- Portfolio item -->
	                <div class="portfolio-item mix all corporate behance col-lg-4 col-md-6 col-sm-12">
	                    <div class="inner-box">
	                        <div class="image-box">
	                        	<figure class="image"><img src="images/gallery/2-5.jpg" alt=""></figure>
	                        	<div class="icon-box"><a href="/" class="icon"><i class="fa fa-arrow-right"></i></a></div>
	                        </div>
	                    </div>
	                </div>

	                <!-- Portfolio item -->
	                <div class="portfolio-item mix all agency behance design website col-lg-4 col-md-6 col-sm-12">
	                    <div class="inner-box">
	                        <div class="image-box">
	                        	<figure class="image"><img src="images/gallery/2-6.jpg" alt=""></figure>
	                        	<div class="icon-box"><a href="/" class="icon"><i class="fa fa-arrow-right"></i></a></div>
	                        </div>
	                    </div>
	                </div>

	                <!-- Portfolio item -->
	                <div class="portfolio-item mix all corporate col-lg-4 col-md-6 col-sm-12">
	                    <div class="inner-box">
	                        <div class="image-box">
	                        	<figure class="image"><img src="images/gallery/2-7.jpg" alt=""></figure>
	                        	<div class="icon-box"><a href="/" class="icon"><i class="fa fa-arrow-right"></i></a></div>
	                        </div>
	                    </div>
	                </div>

	                <!-- Portfolio item -->
	                <div class="portfolio-item mix all agency behance design website col-lg-4 col-md-6 col-sm-12">
	                    <div class="inner-box">
	                        <div class="image-box">
	                        	<figure class="image"><img src="images/gallery/2-8.jpg" alt=""></figure>
	                        	<div class="icon-box"><a href="/" class="icon"><i class="fa fa-arrow-right"></i></a></div>
	                        </div>
	                    </div>
	                </div>

	                <!-- Portfolio item -->
	                <div class="portfolio-item mix all corporate design agency col-lg-4 col-md-6 col-sm-12">
	                    <div class="inner-box">
	                        <div class="image-box">
	                        	<figure class="image"><img src="images/gallery/2-9.jpg" alt=""></figure>
	                        	<div class="icon-box"><a href="/" class="icon"><i class="fa fa-arrow-right"></i></a></div>
	                        </div>
	                    </div>
	                </div>
	    		</div>
	    	</div>
    	</div>
    </section>
    <!--End Portfolio Section -->



{{>footer}}
