<!-- Main Footer -->
    <footer class="main-footer" style="background-image: url(images/background/2.jpg); padding-left: 25px; padding-top: 60px;">
        <div class="large-container">
            <!--Widgets Section-->
            <div class="widgets-section" style="padding-bottom: 0px;">
                <div class="row">
                        <div class="footer-widget about-widget" style="display: table;width: 100%;text-align: center;">
                        <div class="footer-logo">
                            <figure class="image" style="width: 110px;margin: 0 auto;margin-bottom: 15px;">
                                <a href="/">
                                    <img src="images/akrika-logo-2.png" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="widget-content">
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Big Column-->
                    {{!-- <div class="big-column col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <figure class="image"><a href="/"><img src="images/logo-2.png" alt=""></a></figure>
                                    </div>
                                    <div class="widget-content">
                                        <ul class="social-links">
                                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
                                    <h2 class="widget-title" style="margin-bottom: 20px;">Information</h2>
                                    <div class="widget-content">
                                        <ul class="contact-list">
                                        	<li>113 momo Street, bd 721 NY 20012</li>
                                        	<li><a href="#">Adrohelp@gmail.com</a></li>
                                        	<li class="number">+88 (0) 29292162</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> --}}
              </div>
            </div>
        </div>
    </footer>
    <!-- End Main Footer -->
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.paroller.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/isotope.js"></script>
<script src="js/validate.js"></script>
<script src="js/script.js"></script>
</body>
</html>